.figaro-btn-1 {
    background-color: $figaro-yellow;
    border-radius: 0;
    border: none;
    box-shadow: none;
    outline: none;
    &:hover {
        background-color: $figaro-yellow;
        color: $figaro-purple;
        border: none;
        box-shadow: none;
        outline: none;
    }
    &:focus {
        background-color: $figaro-yellow;
        color: $figaro-purple;
        border: none;
        box-shadow: none;
        outline: none;
    }
    &:active {
        background-color: $figaro-yellow;
        color: $figaro-purple;
        border: none;
        box-shadow: none;
        outline: none;
    }
}
.figaro-btn-2 {
    background-color: transparent;
    border-radius: 0;
    color: $figaro-purple;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid $figaro-purple;
    box-shadow: none;
    outline: none;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: transparent;
        color: $figaro-pink;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid $figaro-pink;
        box-shadow: none;
        outline: none;
        transition: all .3s ease-in-out;
    }
    &:focus {
        background-color: transparent;
        color: $figaro-pink;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid $figaro-pink;
        box-shadow: none;
        outline: none;
        transition: all .3s ease-in-out;
    }
    &:active {
        background-color: transparent;
        color: $figaro-pink;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid $figaro-pink;
        box-shadow: none;
        outline: none;
        transition: all .3s ease-in-out;
    }
}

.figaro-facial-tabs {
    .nav-item .nav-link {
        color: $figaro-purple;
        background-color: none;
        border-radius: 0;
        text-align: left;
        padding: 0.5rem 4px;
        &:hover {
            color: $figaro-pink;
        }
        &.active {
            background-color: $figaro-yellow;
        }
        @media (max-width: 767.98px) {
            text-align: center;
        }
    }
}
