// TODO: .banner .nav li {}
// TODO: .banner .nav a {}

.figaro-nav {
    width: 100%;
    //position: absolute;
    background-color: transparent;
    transition: all .3s ease-in-out;
    .figaro-nav-container {
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        .figaro-logo {
            color: $figaro-purple;
        }
        .navbar-collapse {
            width: auto;
        }
        .figaro-nav-list {
            .nav-item .nav-link {
                color: $figaro-pink;
                transition: all .3s ease-in-out;
                &:hover {
                    color: $figaro-purple;
                    transition: all .3s ease-in-out;
                }
            }
        }
    }
    &.not-home {
        //position: static;
        background-color: $white;
        border-bottom: 2px solid $figaro-pink;
        transition: all .3s ease-in-out;
    }
    &.scroll {
        background-color: $white;
        border-bottom: 2px solid $figaro-pink;
        transition: all .3s ease-in-out;
        .figaro-nav-container {
            .figaro-nav-list {
                .nav-item .nav-link {
                    color: $figaro-purple;
                    transition: all .3s ease-in-out;
                    &:hover {
                        color: $figaro-pink;
                        transition: all .3s ease-in-out;
                    }
                }
            }
        }
    }
}