// TODO: .banner .nav li {}
// TODO: .banner .nav a {}

.figaro-nav {
    width: 100%;
    //position: absolute;
    background-color: transparent;
    transition: all .3s ease-in-out;
    @media (max-width: 767.98px) {
        //background-color: $figaro-white;
        //border-bottom: 2px solid $figaro-pink;
    }
    .figaro-nav-container {
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        .figaro-logo {
            color: $figaro-purple;
        }
        .navbar-collapse {
            width: auto;
            @media (max-width: 767.98px) {
                width: 100%;
            }
        }
        .figaro-nav-list {
            .nav-item .nav-link {
                color: $figaro-pink;
                transition: all .3s ease-in-out;
                &:hover {
                    color: $figaro-purple;
                    transition: all .3s ease-in-out;
                }
                @media (max-width: 767.98px) {
                    text-align: center;
                    &:hover {
                        background-color: $figaro-yellow;
                        transition: all .3s ease-in-out;
                    }
                    &:focus {
                        background-color: $figaro-yellow;
                        transition: all .3s ease-in-out;
                    }
                    &:active {
                        background-color: $figaro-yellow;
                        transition: all .3s ease-in-out;
                    }
                }
            }
        }
        .figaro-navbar-toggler {
            border: none;
            border-radius: 0;
            outline: none;
            box-shadow: none;
            .figaro-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(73, 53, 72, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            }
            &:focus {
                transition: all .3s ease-in-out;
            }
        }

        @media (max-width: 767.98px) {
            justify-content: space-between;
        }
    }
    &.not-home {
        //position: static;
        background-color: $white;
        border-bottom: 2px solid $figaro-pink;
        transition: all .3s ease-in-out;
    }
    &.scroll {
        background-color: $white;
        border-bottom: 2px solid $figaro-pink;
        transition: all .3s ease-in-out;
        .figaro-nav-container {
            .figaro-nav-list {
                .nav-item .nav-link {
                    color: $figaro-purple;
                    transition: all .3s ease-in-out;
                    &:hover {
                        color: $figaro-pink;
                        transition: all .3s ease-in-out;
                    }
                    @media (max-width: 767.98px) {
                        text-align: center;
                        &:hover {
                            background-color: $figaro-yellow;
                            transition: all .3s ease-in-out;
                        }
                        &:focus {
                            background-color: $figaro-yellow;
                            transition: all .3s ease-in-out;
                        }
                        &:active {
                            background-color: $figaro-yellow;
                            transition: all .3s ease-in-out;
                        }
                    }
                }
            }
        }
    }
}