/** Colors */
$brand-primary:         #525ddc;

$figaro-pink: #B59AB9;
$figaro-yellow: #EBCD9D;
$figaro-white: #ffffff;
$figaro-purple: #493548;
$figaro-blue: #4B4E6D;

/** Box Model  */
$spacer:                2rem;

